<div class="venue-lookup-page">

  <div class="venue-container">

    <div class="venue-criteria">
      <h1>-Venues located in: <%= @zipcode %> -</h1><br>
    </div>
    <% @venues.each do |venue| %>
      <div class="venue-listing">
        <h4>Name: <%= venue[:Name] %></h4>
        <p>Address: <%= venue[:Address] %></p>
        <p>City: <%= venue[:City] %></p>
        <p>State: <%= venue[:State] %></p><br>
        <%= button_to "Select This Venue", jambase_venue_create_path(venue: venue) %>
      </div>
    <% end %>
  </div>
</div>
