
<div>
  <%= form_for @user do |f| %>
    <h3>CREATE AN ACCOUNT</h3>

    <div class="login-field"><%= f.label :email, class: "form-label" %></div>
    <div class="login-field"><%= f.text_field :email %></div>
    <div class="login-field"><%= f.label :password, class: "form-label" %></div>
    <div class="login-field"><%= f.password_field :password %></div>

    <div class="login-field"><%= f.submit "Create Account", class: "submit-button" %></div>
  <% end %>

  <div>
    <h3> <%= link_to "ALREADY HAVE AN ACCOUNT?", login_path %></h3>
  </div>
</div>
