<h1> Behold! Your Stub Stash </h1>


<% unless current_user.shows.count == 0 %>
  <p>Show Count: <%= current_user.shows.count %> </p>

  <p>Artists you've seen: <% current_user.artists.each do |artist| %>
                            <%= artist.name  %><br>
                        <% end %> </p>

  <p>Venues you've been to: <% current_user.reload.venues.each do |venue| %>
                                 <%= venue.name  %><br>
                                <% end %> </p>
<% else %>
  <p>You don't have any stubs in your stash yet!</p>
<% end %>

<div class="show-list">
  <% if current_user.shows %>
    <% current_user.shows.each do |show| %>
      <div class="show">
        Date: <%= show.date.strftime("%m/%d/%Y") %><br>
        Artist: <%= show.artist.name %><br>
        Venue: <%= show.venue.name %><br>
        <%= link_to "-", user_show_path(show), method: :delete, class: 'delete-show-button' %>
      </div>
    <% end %>
  <% end %>
</div>



<%= link_to "Add A New Artist", new_artist_path %><br>
<%= link_to "Add A New Venue", new_venue_path %><br>
<%= link_to "Add A New Show!", new_user_show_path %><br>
