<div class="stash">

  <div class="stash-title">
    <div><h1>Your Stub Stash </h1></div>
  </div>


  <% if current_user.reload.shows.count == 0 %>
    <div class="stash-title">
      <h2>You don't have any stubs in your stash yet!</h2>
    </div>
    <div class="stash-buttons">
      <div class="stash-add-button"><%= link_to "Add A New Show!", new_user_show_path %></div>
    </div><br>
  <% else %>
  <div class="stash-row">
      <div class="show-stash">
        <div class="stash-buttons">
          <div class="stash-add-button"><%= link_to "Add A New Show!", new_user_show_path %></div>
        </div><br>
        <div class="show-list">
          <% current_user.reload.shows.each do |show| %>
            <div class="show">
              Date: <%= show.date.strftime("%m/%d/%Y") %><br><br>
              Artist: <%= link_to show.artist.name, artist_path(show.artist) %><br><br>
              Venue: <%= link_to show.venue.name, venue_path(show.venue), class: "venue-link"%>
              <%= link_to "-", user_show_path(show), method: :delete, class: 'delete-show-button' %>
            </div>
          <% end %>
        </div>
      </div>

    <div class="col-8">

      <h2>Show Count: <%= current_user.reload.shows.count %> </h2>
      <div id="map" style="width: 600px; height: 500px;"></div><br><br>

      <div id="map"></div>
         <script>
           function initMap() {

             var styledMapType = new google.maps.StyledMapType(
            [
              {
        "featureType": "all",
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "color": "#ffffff"
            }
        ]
    },
    {
        "featureType": "all",
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "color": "#000000"
            },
            {
                "lightness": 13
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#000000"
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#144b53"
            },
            {
                "lightness": 14
            },
            {
                "weight": 1.4
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "all",
        "stylers": [
            {
                "color": "#08304b"
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#0c4152"
            },
            {
                "lightness": 5
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#000000"
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#0b434f"
            },
            {
                "lightness": 25
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#000000"
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#0b3d51"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#000000"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "all",
        "stylers": [
            {
                "color": "#146474"
            }
        ]
    },
    {
        "featureType": "water",
        "elementType": "all",
        "stylers": [
            {
                "color": "#021019"
            }
        ]
    }
            ],
            {name: 'Styled Map'});

             var map = new google.maps.Map(document.getElementById('map'), {
               zoom: 3.5,
               center: {lat: 39.206444, lng: -98.296170},
               mapTypeControlOptions: {
            mapTypeIds: ['roadmap', 'styled_map']
          }
             });
             map.mapTypes.set('styled_map', styledMapType);
             map.setMapTypeId('styled_map');

             var locations = <%= raw @venue_markers %>;

             var infowindow = new google.maps.InfoWindow();

             var marker, i;

              for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                  position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                  map: map
                });

            google.maps.event.addListener(marker, 'click', (function(marker, i) {
              return function() {
                infowindow.setContent(locations[i][0]);
                infowindow.open(map, marker);
              }
            })(marker, i));
           }
         }
         </script>

      <script async defer
      src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=<%=ENV['GOOGLE_MAP_API_KEY']%>">
      </script>
    </div>
  </div>

  <% end %>

</div>
