
  <%= form_for @show, :url => user_shows_path do |f| %>
    <h3>ADD A SHOW</h3>

    <div><%= f.label :artist %></div>
    <div><%= f.select :artist, current_user.artists.collect {|artist| artist.name} %></div>
    <div><%= f.label :venue %></div>
    <div><%= f.select :venue, @venues.collect {|venue| venue.name} %></div>
    <div><%= f.label :date %></div>
    <div><%= f.date_field :date %></div>

    <div><%= f.submit "Add Show!", class: "submit-button" %></div>
  <% end %>

</div>
