<div>
  <%= form_for @venue do |f| %>
    <h3>CREATE ACCOUNT</h3>

    <div><%= f.label :name %></div>
    <div><%= f.text_field :name %></div>
    <div><%= f.label :city %></div>
    <div><%= f.text_field :city %></div>
    <div><%= f.label :state%></div>
    <div><%= f.select :state, us_states %></div>

    <div><%= f.submit "Add Venue!", class: "submit-button" %></div>
  <% end %>
</div>
