<div class="venue-lookup-page">
  <div class="venue-lookup-container">

  <h3>Lookup venues here: </h3>

    <div class="venue-search-name">
      By name:
      <%= form_tag( '/jambase/find-by-name', :method => 'get') do %>
        <%= label_tag :name %>
        <%= text_field :name, params[:name] %>
        <%= submit_tag "Search" %>
      <% end %>
    </div>

    <div class="venue-search-zipcode">
      By zipcode:
      <%= form_tag( '/jambase/find-by-zipcode', :method => 'get') do %>
        <%= label_tag :zipcode %>
        <%= text_field :zipcode, params[:zipcode] %>
        <%= submit_tag "Search" %>
      <% end %>
    </div>
  </div>

  <br><br><br>

</div>
