<div class="venue-show-page">
  <div class="venue-title">
    <h1> <%=@venue.name%> </h1>
  </div>

  <div class="venue-stats-count">
    <% if @show_list.count == 0 %>
      <h2>You haven't seen any shows here </h2>
    <% elsif @show_list.count == 1 %>
      <h2>You've seen 1 show here!</h2>
    <% else %>
      <h2>You've see <%=@show_list.count%> shows here! </h2>
    <% end %>
  </div>

  <div class="venue-popular-artist">
    <% unless @show_list.count == 0 %>
       <h2>The artist you've seen the most here is <%= @most_seen_artist.name %> </h2>
    <% end %>
  </div>

  <div class="show-list">
    <% @show_list.each do |show| %>
      <div class="show">
        Date: <%= show.date.strftime("%m/%d/%Y") %><br><br>
        Artist: <%= show.artist.name %><br><br>
        Venue: <%= show.venue.name %>
        <%= link_to "-", user_show_path(show), method: :delete, class: 'delete-show-button' %>
      </div>
    <% end %>
  </div>



</div>
