<div class="artist-list-show">
  <div class="stash-title">
    <h2>Here are the artists you've added:</h2>
  </div>

  <div class="artist-list">
    <% current_user.reload.artists.each do |artist| %>
      <div class="artist"><%= link_to artist.name, artist_path(artist) %><br>
        <%= link_to " Remove ", user_artist_path(artist), method: :delete, class: 'delete-show-button' %>
      </div>
    <% end %>
  </div><br>

  <div class="add-artist-container">
    <div class="add-raw-artist">
      <%= link_to "Add an Artist", new_artist_path, class: "add-artist-button" %>
    </div>

    <h3>-OR-</h3>

    <div class="import-artist-button">
      <% unless current_user.spotify_token %>
        <%= link_to "LINK YOUR SPOTIFY TO LOAD ARTISTS", "https://accounts.spotify.com/authorize?client_id=b80edfd3cc114164bf1b0cbbbaf4d2b3&response_type=code&redirect_uri=#{ENV['SPOTIFY_REDIRECT_URL']}&scope=user-follow-read", class: "stash-add-button" %>
      <% else  %>
        <%= link_to "IMPORT YOUR ARTISTS FROM SPOTIFY", spotify_import_path, class: "stash-add-button"  %>
      <% end %>
    </div>
  </div>
</div>
