<h1>All of your stubs!</h1>

<% if current_user.shows %>
  <p>Show Count: <%= current_user.shows.count %> </p>

  <p>Bands you've seen: <% current_user.bands.each do |band| %>
                            <%= band.name  %><br>
                        <% end %> </p>

  <p>Venues you've been to: <% current_user.reload.venues.each do |venue| %>
                                 <%= venue.name  %><br>
                                <% end %> </p>
<% else %>
  <p>You don't have any stubs in your stash yet!</p>
<% end %>

<%= link_to "Add A New Band", new_band_path %>
<%= link_to "Add A New Venue", new_venue_path %>
<%= link_to "Add A New Show!", new_show_path %>
